 @media (max-width: 430px){
    .mapa {
        display: flex;
        flex-direction: column;
    }
    .template{
        padding: 0;
    }
}


@media (max-width: 768px){
    .mapa {
        display: flex;
        flex-direction: column;
        min-width: auto;
    }
    .template{
        padding: 0;
    }
}
