/* @media (max-width: 430px){
    .burguer {
        display: none;
    }

    .toggle-button {
        display: block;
    }

    .mapa {
        position: absolute;
        height: 50vh;
    }

    .card1, .card2 {
        width: 170px;
    }
} */